body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Azul claro */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    color: #00796b; /* Verde escuro */
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #00796b;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #00796b; /* Verde escuro */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #004d40; /* Verde escuro ao passar o mouse */
}

.info {
    display: none; /* Inicialmente escondido */
}

.logout {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #00796b;
}
